.row {
    display: flex;
}
  
.column {
    flex: 20%;
    padding: 25px;
}

main {
    padding: 20px 30px 20px;
}

img {
    height: 360px;
    border: .75rem solid black;
    border-radius: 25% 10%;
}